.header-background-image {
  width: 100%;
  background-color: var(--desatuteated-dark-cyan);
}
.header-background-image-mobile {
  display: none;
  width: 100%;
  background-color: var(--desatuteated-dark-cyan);
}

@media screen and (max-width: 375px) {
  .header-background-image {
    display: none;
  }
  .header-background-image-mobile {
    display: block;
  }
}